<html>
  <head>
    login
  </head>
  <body>
    <% if @errors %>
        <%=@errors%>
    <%end%>
    <form action="signin" method="POST">
      User name:<br>
      <input type="text" name="username">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br><br>
      <input type="submit" value="Login">
    </form>
    <a href="register.html">Register</a>
  <body>
</html>
