<html>
  <head>
    Register
  </head>
  <body>
    <% if @errors %>
      <% @errors.each do |att,message|%>
        <br>
        <%=att%>
        <%=message%>
      <%end%>
    <%end%>
    <form action="create" method="POST">
      name:<br>
      <input type="text" name="username">
      <br>
      Email:<br>
      <input type="text" name="mailid">
      <br>
      age:<br>
      <input type="text" name="age">
      <br>
      sex:<input type="radio" name="sex" value="male" checked="checked">Male
      <input type="radio" name="sex" value="female">Female
      <br>
      Password:<br>
      <input type="password" name="password">
      <br><br>
      <input type="submit" value="Register">
    </form>
    <br>
    <a href="login.html">Login</a>
  <body>
</html>
